<div class="adabas-panel" *ngIf="isDataLoaded; else dataIsNotLoaded">
  <ng-container *ngIf="isDataValid; else dataIsNotValid">
    <ng-container *ngIf="adabasRecords.length > 0; else dataIsEmpty">
      <p-table #adabasTable [value]="adabasRecords" sortField="numeroDbid" sortOrder="1" [globalFilterFields]="fields"
        [paginator]="true" [rows]="rowsPerPage" (onPage)="currentPage = $event.page">
        <ng-template pTemplate="caption">
          <div class="caption-content">
            <div>
              <p-dropdown [options]="pageSizes" [(ngModel)]="rowsPerPage" dropdownIcon="fa fa-chevron-down"></p-dropdown>
              <strong style="margin-left: 6px">registros por página</strong>
            </div>
            <div>
              <i class="fa fa-fw fa-search" style="margin-right: 6px"></i>
              <input #filter type="text" pInputText size="50" placeholder="Buscar"
                (input)="adabasTable.filterGlobal($event.target.value, 'contains')" style="width: auto">
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of columns" [pSortableColumn]="column.field"
              class="{{column.header | toIdentifier}}-column column">
              {{column.header}} &nbsp; <p-sortIcon [field]="column.field"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let column of columns" class="{{column.header | toIdentifier}}-column column">
              <div class="filter-header">
                <i class="fa fa-fw fa-filter"></i>
                <input type="text" pInputText (input)="adabasTable.filter($event.target.value, column.field, 'contains')"
                  class="filter-field">
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record>
          <tr>
            <td class="dbid-column column">{{record.numeroDbid}}</td>
            <td class="app-column column">
              <scan-app [app]="record.app" [showName]="true" [showStatus]="true" [showPathOnHover]="true" [nonInteractive]="true">
              </scan-app>
            </td>
            <td class="cluster-column column">
              <span class="cluster-tag"
                [attr.data-palette-name]="'cluster'"
                [attr.data-palette-key]="record.origemCluster">
                {{record.origemCluster}}
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <th *ngFor="let column of columns" [pSortableColumn]="column.field"
              class="{{column.header | toIdentifier}}-column column">
              {{column.header}} &nbsp; <p-sortIcon [field]="column.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="column">
            <em>Mostrando {{recordsOnCurrentPage}} de {{adabasRecords.length}} registros</em>
          </div>
        </ng-template>
      </p-table>
    </ng-container>
    <ng-template #dataIsEmpty>
      <scan-notice-panel
        [noticeIcon]="'exclamation-circle'"
        [message]="'Nenhum registro encontrado'">
      </scan-notice-panel>
    </ng-template>
  </ng-container>
  <ng-template #dataIsNotValid>
    <scan-notice-panel
      [noticeIcon]="'exclamation-circle'"
      [severity]="'danger'"
      [message]="errorMessage"
      [message2]="'Escolha outra data ou tente novamente mais tarde'">
    </scan-notice-panel>
  </ng-template>
</div>
<ng-template #dataIsNotLoaded>
  <scan-loading-notice></scan-loading-notice>
</ng-template>