/// Db2DetailsComponent's private SCSS styles =====================================================

.db2-panel {
  height: calc(100% + 2 * var(--length-gutter));
  margin: calc(-1 * var(--length-gutter));
  padding: var(--length-gutter);
  overflow: hidden auto;
}

:host ::ng-deep {
  .column {
    text-align: center;
  }
}
